<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Plant information</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
	<div class="panel-heading">Plant info</div>
	<div class="panel-body">

	
    <form class="form-horizontal" role="form" accept-charset="UTF-8" >
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<p class="form-control-static" th:text="${plant.name}"></p>
      	</div>
     	 <div class="form-group">
        	<label for="name" class="col-sm-2 control-label">Description</label>
        	<p class="form-control-static" th:text="${plant.description}"></p>
      	</div>
      	<div class="form-group">
        	<label for="name" class="col-sm-2 control-label">Price</label>
        	<p class="form-control-static" th:text="${plant.price}"></p>
      	</div>  
	</form>
	
	<form style ='float:left; margin-right: 10px' th:action="@{'/plants'}"><button class="btn btn-default" >Back</button></form>
	<form style ='float:left' th:method="get" th:action="@{'/plants/'+${plant.id}+'/form'}"><button class="btn btn-default" type="submit">Edit</button></form>
    
    
 
	</div>
	</div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>